{% set sessionname = session['rol'] %} {% set titulo = session['titulo'] %} {%
set Nombreusuario = session['name'] %}

<!DOCTYPE html>
<html lang="es" class="bg-[#7c4e1a]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Gestión de Caja{% endblock %}</title>

    <!-- Tailwind y elementos -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1"
      type="module"
    ></script>
  </head>

  <body class="bg-[#7c4e1a] font-sans">
    <!-- Contenido principal -->
    <main class="container mx-auto px-4">
      {% block content %}{% endblock %}
    </main>

    <!-- JS de tu app -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
